# Global bazelrc file (see https://bazel.build/run/bazelrc#global-bazelrc)

# Note: This flag is required to prevent actions from clashing with each when
# reading/writing tmp files. Without this flag we get errors like:
#
#  Error: Cannot use file /tmp/hsperfdata_runner/12 because it is locked by
#         another process
#
# This flag will be enabled by default in Bazel 7.0.0, but for now we enable it
# manually. For more details: https://github.com/bazelbuild/bazel/issues/3236.
build --incompatible_sandbox_hermetic_tmp